*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}


p{
    font-size: 16px;
}

div.top-header{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 7rem;
    font-size: 12px;
    padding-bottom: 2rem;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}

header form input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: .5rem;
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 10px;
    border: none;
}
header form .submit{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: #FFF;
    color: #666;
    height: 2rem;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
    display: none;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article{
    padding: 1rem;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
}

.price{
    font-weight: 800;
    font-size: 18px;
    margin-right: 1rem;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

.description{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 7rem;
}

section{
    width: 100%;
}

main section article{
    background-color: #fff;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

h3{
    width: 100%;
    font-size: 1.5rem;
    padding: 2rem 0 .5rem 0;
}

.products{
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
}

article{
    width: 18rem;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: .5rem solid rgb(217, 217, 217);
    border-top: 1rem solid rgb(217, 217, 217);
    transition: 1s;
}


.products img{
    width: 100%;
    margin-bottom: .2rem; 
    border-bottom: 1px solid rgb(217, 217, 217);
}

.fa-truck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid green;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -18px;
    transition: 1s;
}

.description{
    margin-top: 1rem;
    opacity: 0;
    transition: 1s;
}

article:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.313);
}

article:hover .description{
    opacity: 100%;
}

article:hover .fa-truck{
    transform: rotate(-90deg);
}

.discount{
    width: calc(70%-1rem);
}


.form{
    display: flex;
    column-gap: 1rem;
}

ul{
    display: flex;
    column-gap: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

main{
    display: flex;
    align-items:center;
}

form{
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.input{
    width: 100%;
    margin: .8rem 0;
    border: none;
    outline: none;
    border-radius: .5rem;
    height: 1.8rem;
    box-shadow: inset 3px 3px 5px rgba(128, 128, 128, 0.451);
    padding: 0 1rem;
}

.label-titulo{
    font-size: medium;
    font-weight: 600;
}

.input-agrupados{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input-agrupados label{
    margin: 1rem 0;
    margin-right: -2rem;
}

.input-perfil{
    margin-right: -11rem!important;
}

.boton-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
}

.button-form{
    width: 40%;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    border: none;
    background-color: #707070;
    font-weight: 700;
    color: white;
}

.button-form:hover{
    background-color: #0022AA;
    
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;
    flex-wrap: wrap;
}

footer div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 25vw;
}

footer h3{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem 0;
}

footer p{
    font-size: .85rem;
}

footer .fa-solid{
    font-size: 1.5rem;
    color: #0022AA;
}



@media (max-width: 1024px) {
    div.top-header {
      flex-direction: column; 
      padding: 0 2rem;
      order: 1; 
    }
    header div.logo {
      order: 1; 
      margin-top: 2rem;
    }
  
    header form {
        width: 80%;
        order: 2; 
    }
  
    header div.top-header p {
      order: 3; 
    }

    nav{
        padding: 2rem 2rem!important;
    }
    main{
        padding: 0 2rem;
    }

    .description{
        opacity: 100%;
    }
    form{
        width: 70%;
    }

    footer{
    padding: 3rem 2rem;
}
  
  }

@media (max-width: 830px) {
    .display {
        display: none; 
    }
  
    div.burger-menu {
      display: block; 
      margin-top: 1rem;
    }

    article{
        width: 45%;
    }

    nav{
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }

    form{
        width: 90%;
    }
    header div.logo{
        width: 80%;
    }
    footer{
        row-gap: 3rem;
        justify-content: center;
    }
    footer div{
        width: 25rem;
    }
}
  
@media (max-width: 530px) {
    .products {
      justify-content: center;
      flex-direction: column;
    }

    article{
        width: 100%;
    }

    article img{
        width: 100%;
    }

    header .form {
        width: 100%;
        order: 2; 
    }
    form{
        width: 100%;
    }
    
}
